@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif !important;
font-weight: 400;
}

.corousel-img{
    padding-top: 2em;
    width:60% !important;
}
.img-head{
    text-align: center;
}
.head-text{
    color:#fff;
    padding-top: 5em;
}
.cimg2{
    padding-top: 8em;
}
 .top-copy {
color: #fff;
    padding-top: 10px;
    padding-bottom: 2px;
    position: absolute;
    z-index: 100;
    width: 100%;
 }
 .contat-text
{
   text-align: right;
   position:relative;
}
.logo img{
  width: 9em;
}
 .centerize{
     text-align: center;
     width: 100%;
     display: flex;
 }
.phoneico{
    font-size: 17px;
    padding-bottom: 4px;
    font-weight: 400;
}
.nav-fix{
     color: #fff;
    width: 100%;
    z-index: 100;
}
.nav-item a{
    color:#fff !important;
}
.fa-x{
  font-size: 150%
}
.navbar-nav{
  padding-top: 4em;
}
.section-break{
  padding-top: 2em;
}
.logo-brands img{
  width:50px;
}

#text{
display:none;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .one{
      text-align: center;
    padding: 8px;
    background-color: gray;
    color: #fff;
}
.card .two {
    text-align: center;
    padding: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #f1f1f1;
}
.two h4,.two p{
  display: inline;
}
.card .three{
      text-align: center;
    padding-top: 8px;
}
.card-c {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    border-radius: 8px;
}
.card-c .one{
  background-color: #bb3232;   
    color: #fff;
        border-top-left-radius: 8px;
            border-top-right-radius: 8px;
}
.card-c .one h6{
  padding: 9px;
}
.home-list a{
  color: red;
  text-align: center;
  padding-bottom: 10px;
}
.reg-nav{
  color:#fff;
  background-color: #bb3232;  
}
.ml{
      padding-top: 11px !important;
}
.contact-card {
    margin-top: 80px;
    padding: 20px;
}
.heading-text{
  color:#cc1b21;
}
.contact-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}
.head-back{
  background: url(../img/banncopy.png);
  height: 42em;
    background-size: 100% 100%;
}
.about-hytel{
  padding-bottom: 10px;
}
.justified-text{
  text-align:justify;
}
.service-off{
  padding-top: 45px;
}
.foo{
    background: url(../img/fo.png);
    min-height: 16em;
    background-size: 100%;
}
.foot{
  background-color: #000;
  padding-top: 4em;
  color:#fff;
}
 /* animation */
 @-webkit-keyframes phone {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes phone {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-phone.animated,
.faa-phone.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-phone {
  -webkit-animation: phone 2s ease infinite;
  animation: phone 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}



@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}